@charset "UTF-8";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#header {
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background: rgba(34, 3, 46, 0.9);
}

#header,
.intro-wrap {
  height: 100vh;
}
.intro-wrap {
  display: table;
  width: 100%;
}

.intro-wrap .intro {
  color: azure;
  line-height: 60px;
  font-size: 32px;
  font-weight: 300;
  font-family: "Roboto", Montserrat, arial, sans-serif;
  letter-spacing: 12px;
  margin: 0;
  position: relative;
  z-index: 3;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

h1, h6{
  margin: 0;
}

h6{
  padding-bottom: 50px;
}

.text-center {
  text-align: center;
}

.bio {
  color: azure;
  line-height: 20px;
  font-size: 16px;
  font-weight: 200;
  font-family: "Roboto", Montserrat, arial, sans-serif;
  letter-spacing: 2px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  width: 65vw;
  display: table-cell;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}

.social a {
  font-size: 45px;
  display: inline-block;
  text-decoration: none;
  border-bottom: none;
  color: azure;
}